.product{
  display: flex;
  border-bottom: 1px solid lightgrey;
  margin: 5px 5px;
  padding: 5px 5px;
}

.product-name{
  color:blue;
  font-weight: 400;
}

.main-button{
  background-color: goldenrod;
  border: 1px solid black;
  border-radius: 5px;
  width: 180px;
  height: 25px;
  cursor: pointer;
}